<%= simple_form_for @departmentlicense do |f| %>
  <% if @departmentlicense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departmentlicense.errors.count, "error") %> prohibited this departmentlicense from being saved:</h2>

      <ul>
      <% @departmentlicense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :year %><br>
  </div>
  <div class="field">
    <%= f.input :has_night %><br>
  </div>
  <div class="field">
    <%= f.input :department_id %><br>
  </div>
  <div class="field">
    <%= f.input :license_id %><br>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
