<p id="notice"><%= notice %></p>

<h1>Listing Departments</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Has night</th>
      <th>Department</th>
      <th>License</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departmentlicenses.each do |departmentlicense| %>
      <tr>
        <td><%= departmentlicense.year %></td>
        <td><%= departmentlicense.has_night %></td>
        <td><%= departmentlicense.department.name %></td>
        <td><%= departmentlicense.license.name %></td>
        <td><%= link_to 'Show', departmentlicense %></td>
        <td><%= link_to 'Edit', edit_departmentlicense_path(departmentlicense) %></td>
        <td><%= link_to 'Destroy', departmentlicense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table  class="table">
  <thead>
    <tr>
      <th>Department </th>
      <th>License </th>
      <th>Has night </th>
      <th>Year </th>

      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% Department.all.each do |department| %>
      <tr>
        <td><%=department.name%></td>
        <%= simple_form_for @departmentlicense do |f| %>
              <% if @departmentlicense.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@departmentlicense.errors.count, "error") %> prohibited this departmentlicense from being saved:</h2>

                  <ul>
                  <% @departmentlicense.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
        <td><%= f.select :license_id, License.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true, label: false%><br></td>
        <td><%= f.input :has_night,label: false%></td>
        <td><%= f.input :year, label: false %></td>

        <%= f.hidden_field :department_id , :value => department.id %>
        <td><%= f.button :submit %></td>
      </tr>


          <% end %>
      <%end%>
    </tbody>
</table>
<%= link_to 'New Departmentlicense', new_departmentlicense_path %>
