<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @departmentlicense.year %>
</p>

<p>
  <strong>Has night:</strong>
  <%= @departmentlicense.has_night %>
</p>

<p>
  <strong>Department:</strong>
  <%= @departmentlicense.department.name %>
</p>

<p>
  <strong>License:</strong>
  <%= @departmentlicense.license.name %>
</p>

<%= link_to 'Edit', edit_departmentlicense_path(@departmentlicense) %> |
<%= link_to 'Back', departmentlicenses_path %>
