<%@dl=Departmentlesson.find(params[:departmentlesson])%>
<b>Current Lesson:</b><%=@dl.lesson.name%>

<%= simple_form_for @curriculum do |f| %>
  <% if @curriculum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

      <ul>
      <% @curriculum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :departmentlesson_id %>
  </div>
  <div class="field">
      <b>Academic Term:</b><%= f.select :academicterm_id, Academicterm.all.map { |l| [l.year.to_s+" "+l.term, l.id, { class: l.id }] }, include_blank: true%>
  </div>
  <div class="field">
    <b>Instructor:</b><%= f.select :admin_id, Admin.all.map { |l| [l.name+" "+l.surname, l.id, { class: l.id }] }, include_blank: true%>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
