<p id="notice"><%= notice %></p>

<h1>Listing Cirruculum</h1>
<%=@department=Department.find(params[:department])%>
<table>
  <thead>
    <tr>
      <th>Departmentlessons</th>
      <th>Academicterm</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%= curriculum.departmentlesson%></td>
        <td><%= curriculum.academicterm %></td>
        <td><%= curriculum.instructor.name %></td>
        <td><%= link_to 'Show', curriculum %></td>
        <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
        <td><%= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new Lesson', new_curriculum_path(:department => @department.id,:license=>@license) %>
