<p id="notice"><%= notice %></p>

<p>
  <strong>Departmentlessons:</strong>
  <%= @curriculum.departmentlessons %>
</p>

<p>
  <strong>Academicterm:</strong>
  <%= @curriculum.academicterm %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @curriculum.instructor %>
</p>

<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
