

<div class="row">
  <div class="jumbotron col-md-6">
    <%= simple_form_for @classroom do |f| %>
      <% if @classroom.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

          <ul>
          <% @classroom.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.input :number %><br>
      </div>
      <div class="field">
        <%= f.input :size %><br>
      </div>
      <div class="field">
        <b>Facility</b><%= f.select :facility_id, Facility.all.map { |l| [l.university.name+" "+l.name, l.id, { class: l.id }] }, include_blank: true%><br>
      </div>
      <div class="actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
