<p id="notice"><%= notice %></p>

<h1>Listing Classrooms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Size</th>
      <th>Facility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.number %></td>
        <td><%= classroom.size %></td>
        <td><%= classroom.facility.name %></td>
        <td><%= link_to 'Show', classroom ,class:"btn btn-success"%></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom),class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom', new_classroom_path ,class:"btn btn-primary"%>
