
<%= simple_form_for @admin , url: instructors_path(:id=>@admin), method: :patch do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :surname, required: true%>
    <%= f.input :rank, :collection => Admin::RANKHASH.invert.sort, required: true%>
    <%= f.input :id_number, required: true%>
    <%= f.input :email, required: true%>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
