<%= simple_form_for @weeklyschedule do |f| %>
  <% if @weeklyschedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weeklyschedule.errors.count, "error") %> prohibited this weeklyschedule from being saved:</h2>

      <ul>
      <% @weeklyschedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Select Lesson Time:<%= f.select :lessonhours_id, Lessonhour.all.map { |l| [l.beginning.strftime("%I:%M%p") + " - "+l.ending.strftime("%I:%M%p") , l.id, { class: l.id }] }, include_blank: true%><br>
  </div>
  <div class="field">
    Select Lesson Day:<%= f.select :day_id, Day.all.map { |l| [l.day, l.id, { class: l.id }] }, include_blank: true%>
  </div>
  <div class="field">
    Select Lesson From Curriculum:<%= f.select :curriculum_id, Curriculum.all.map { |l| [l.departmentlesson.lesson.name, l.id, { class: l.id }] }, include_blank: true%>
  </div>
  <div class="field">
    Select Classroom:<%= f.select :classroom_id, Classroom.all.map { |l| [l.number, l.id, { class: l.id }] }, include_blank: true%>
  </div>
  <div class="actions">
    <%= f.button :submit ,"Add Lesson" %>
  </div>
<% end %>
