<p id="notice"><%= notice %></p>

<div class="row">
  <div class="jumbotron col-md-5">
    <%= simple_form_for :anything, url: "weeklyschedules/listSchedules" do |f| %>
        <b>University:</b><%= f.select :university, University.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>Facility:</b><%= f.select :facility, Facility.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>Department:</b><%= f.select :department, Department.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>AcademicTerm:</b><%= f.select :academicterm, Academicterm.all.map { |l| [l.year.to_s+" "+l.term, l.id, { class: l.id }] }, include_blank: true%>
        </br>
        <%= f.button :submit ,'Show Weeklyschedule',class:"btn btn-info"%>
    <% end %>
  </div>
</div>




<br>

<%= link_to 'Create Weekly Schedule', new_weeklyschedule_path, class:"btn btn-primary" %>
