<p id="notice"><%= notice %></p>

<div class="row">
  <div class="jumbotron col-md-5">
    <%= simple_form_for :anything, url: "listSchedules" do |f| %>
        <b>University:</b><%= f.select :university, University.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>Facility:</b><%= f.select :facility,{}%><br>
        <b>Department:</b><%= f.select :department, Department.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>License:</b><%= f.select :license, License.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>AcademicTerm:</b><%= f.select :academicterm, Academicterm.all.map { |l| [l.year.to_s+" "+l.term, l.id, { class: l.id }] }, include_blank: true%>
        </br>
        <%= f.button :submit ,'Show Weeklyschedule',class:"btn btn-info", :name => 'show' %>
        <%= f.button :submit ,'Create Weekly Schedule',class:"btn btn-success" %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Create Weekly Schedule Manual', new_weeklyschedule_path, class:"btn btn-primary" %>
