<p id="notice"><%= notice %></p>

<div class="row">
  <div class="jumbotron col-md-8">
    <%= simple_form_for :anything, url: "weeklyschedules/listSchedules" do |f| %>
        <b>University:</b>
        <div class="form-group">
            <%= f.select :university, University.all.map { |l| [l.name, l.id, { class: l.id }] },class:"form-control" ,include_blank: true%>
        </div>
        <b>Facility:</b>
        <div class="form-group">
        <%= f.select :facility,{}%><br>
        </div>
        <b>Department:</b>
        <div class="form-group">
        <%= f.select :department, Department.all.map { |l| [l.facility.university.name+""+l.name, l.id, { class: l.id }] }, include_blank: true%>
        </div>
        <b>License:</b>
        <div class="form-group">
        <%= f.select :license, License.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%>
        </div>
        <b>AcademicTerm:</b>
        <div class="form-group">
        <%= f.select :academicterm, Academicterm.all.map { |l| [l.year.to_s+" "+l.term, l.id, { class: l.id }] }, include_blank: true%>
        </div>
        <%= f.button :submit ,'Show Weeklyschedule',class:"btn btn-info", :name => 'show' %>
        <%= f.button :submit ,'Create Weekly Schedule',class:"btn btn-success" %>
        <%= f.button :submit ,'Delete Weeklyschedule',class:"btn btn-danger", :name => 'delete', :data => {:confirm => 'Are you sure?'} %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Create Weekly Schedule Manually', new_weeklyschedule_path, class:"btn btn-primary" %>
</br>
</br>
<div class="jumbotron">
    <h2>Choose schedule to add classrooms</h2>
    <table class="table table-bordered">
          <thead>
            <tr>
              <th>Department</th>
              <th>License</th>
              <th>Academic Term</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <%= simple_form_for :anything, url: "addClassrooms" do |f| %> 
            <tr><td>
              <%= f.select :department, Department.all.map { |l| [l.facility.university.name+""+l.name, l.id, { class: l.id }] }, include_blank: true%>
            </td>
            <td>
              <%= f.select :license, License.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%>
            </td>
            <td>
            <%= f.select :academicterm, Academicterm.all.map { |l| [l.year.to_s+" "+l.term, l.id, { class: l.id }] }, include_blank: true%>
            </td>
            <td><%= f.button :submit ,"List Schedule" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
</div>