<p id="notice"><%= notice %></p>

<div class="row">
  <div class="jumbotron col-md-5">
    <%= simple_form_for :anything, url: "weeklyschedules/listSchedules" do |f| %>
        <b>University:</b><%= f.select :university, University.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>Facility:</b><%= f.select :facility,{}%><br>
        <b>Department:</b><%= f.select :department, Department.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%><br>
        <b>AcademicTerm:</b><%= f.select :academicterm, Academicterm.all.map { |l| [l.year.to_s+" "+l.term, l.id, { class: l.id }] }, include_blank: true%>
        </br>
        <%= f.button :submit ,'Show Weeklyschedule',class:"btn btn-info"%>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="jumbotron">
    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
        </tr>
      </thead>
      <tbody>
        <%Lessonhour.all.each_with_index do |lh,index|%>
          <tr>
              <td><%=lh.beginning.strftime("%I:%M%p")+"-"+lh.ending.strftime("%I:%M%p")%></td>
              <%@array.map{|a| a[index]}.each do |x|%>
              <td><%=x%></td>
              <%end%>
          </tr>
        <%end%>

      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'Create Weekly Schedule', new_weeklyschedule_path, class:"btn btn-primary" %>
