<%= simple_form_for @department do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %><br>
  </div>
  <div class="field">
    <%= f.input :facility_id %><br>
  </div>
  <div id='departmentlicenses'>
    <%= f.simple_fields_for :departmentlicenses do |departmentlicense| %>
      <%= render 'departmentlicense_fields', :f => departmentlicense %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add departmentlicense', f, :departmentlicenses %>
    </div>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
