<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @department.facility.name %>
</p>
<p>
  <strong>Licenses:</strong></br>
  <table class="table sortable">
    <thead>
      <tr>
        <th>License</th>
        <th>License Year Amount</th>
        <th>License Has Night?</th>
      </tr>
    </thead>
    <tbody>
      <%@department.departmentlicenses.each do |x| %>
      <tr>
          <td><%=x.license.name%></td>
          <td><%=x.year%></br></td>
          <td><%=x.has_night%></td>
      </tr>
      <%end%>
    </tbody>

  </table>

</p>
<%= link_to 'Manage Lessons', departmentlessons_path(:department => @department.id) ,class:"btn btn-info"%>

<%= link_to 'Edit', edit_department_path(@department), class:"btn btn-warning"%>
