<%= simple_form_for @facility do |f| %>
  <% if @facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% @facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %><br>
  </div>
  <div class="field">
    <%= f.input :university_id %><br>
  </div>
  <div id='departments'>
    <%= f.simple_fields_for :departments do |department| %>
      <%= render 'department_fields', :f => department %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add department', f, :departments %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
