<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @facility.university.name %></br>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Fakülteler</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @facility.departments.each do |department| %>
    <tr>
      <td><%= department.name%></td>
      <td><%= link_to "Show",department_path(department),class:"btn btn-success"%></td>
    </tr>
    <%end%>
  </tbody>
</table>


<%= link_to 'Edit', edit_facility_path(@facility),class:"btn btn-warning" %> |
<%= link_to 'Back', university_path(@facility.university.id),class:"btn btn-primary" %>
