<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @facility.university.name %></br>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Fakülteler</th>
    </tr>
  </thead>
  <tbody>
      <% @facility.departments.each do |department| %>
    <tr>
      <td><%= link_to department.name,department_path(department)%></li></td>
    </tr>
    <%end%>
  </tbody>
</table>


<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', university_path(@facility.university.id) %>
