<p id="notice"><%= notice %></p>

<h1>Listing Lessonhours</h1>

<table class="table sortable">
  <thead>
    <tr>
      <th>Beginning</th>
      <th>Ending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessonhours.each do |lessonhour| %>
      <tr>
        <td><%= lessonhour.beginning.strftime("%I:%M%p") %></td>
        <td><%= lessonhour.ending.strftime("%I:%M%p") %></td>
        <td><%= link_to 'Show', lessonhour ,class:"btn btn-success"%></td>
        <td><%= link_to 'Edit', edit_lessonhour_path(lessonhour),class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', lessonhour, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lessonhour', new_lessonhour_path,class:"btn btn-primary" %>
