<%= form_for(@departmentlesson) do |f| %>
  <% if @departmentlesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departmentlesson.errors.count, "error") %> prohibited this departmentlesson from being saved:</h2>

      <ul>
      <% @departmentlesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hour_amount %><br>
    <%= f.number_field :hour_amount %>
  </div>
  <div class="field">
    <%= f.label :lesson_id %><br>
    <%= f.text_field :lesson_id %>
  </div>
  <div class="field">
    <%= f.label :departmentlicense_id %><br>
    <%= f.text_field :departmentlicense_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
