<%= simple_form_for @departmentlesson do |f| %>
  <% if @departmentlesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departmentlesson.errors.count, "error") %> prohibited this departmentlesson from being saved:</h2>

      <ul>
      <% @departmentlesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <b>Select Lesson:</b></br></br>
      <b>Select Department and License:</b></br></br>
      <b>Hour Amount</b>
    </div>
    <div class="col-md-6">
      <%= f.select :lesson_id, Lesson.all.map { |l| [l.name, l.id, { class: l.id }] }, include_blank: true%></br></br>
      <%= f.select :departmentlicense_id, Departmentlicense.all.map { |l| [l.department.name+" "+l.license.name, l.id, { class: l.id }] }, include_blank: true%><br></br>
      <%= f.input :hour_amount, label:false %>
    </div>
  </div>



  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
