<p id="notice"><%= notice %></p>

<h1>Listing Department lessons</h1>
<%if(params.has_key?(:department))%>
  <%=@department=Department.find(params[:department])%>
  <table class="table sortable">
    <thead>
      <tr>
        <th>Hour amount</th>
        <th>Lesson</th>
        <th>License Type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @department.departmentlicenses.each do |x|%>
        <%x.departmentlessons.each do |departmentlesson| %>
        <tr>
          <td><%= departmentlesson.hour_amount %></td>
          <td><%= departmentlesson.lesson.name %></td>
          <td><%=departmentlesson.departmentlicense.license.name %></td>
          <td><%= link_to 'Show', departmentlesson %></td>
          <td><%= link_to 'Edit', edit_departmentlesson_path(departmentlesson) %></td>
          <td><%= link_to 'Destroy', departmentlesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Add to Curriculum', new_curriculum_path(:departmentlesson => departmentlesson) %></td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create New Curriculum', curriculums_path(:department => @department.id) %>
<%else%>
<table class="table sortable">
  <thead>
    <tr>
      <th>Hour amount</th>
      <th>Lesson</th>
      <th>Department</th>
      <th>License Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departmentlessons.each do |departmentlesson| %>
      <tr>
        <td><%= departmentlesson.hour_amount %></td>
        <td><%= departmentlesson.lesson.name %></td>
        <td><%= departmentlesson.departmentlicense.department.name %></td>
        <td><%=departmentlesson.departmentlicense.license.name %></td>
        <td><%= link_to 'Show', departmentlesson %></td>
        <td><%= link_to 'Edit', edit_departmentlesson_path(departmentlesson) %></td>
        <td><%= link_to 'Destroy', departmentlesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>


<br>

<%= link_to 'New Department lesson', new_departmentlesson_path %>
