<p id="notice"><%= notice %></p>

<h1>Listing Departmentlessons</h1>

<table class="table">
  <thead>
    <tr>
      <th>Hour amount</th>
      <th>Lesson</th>
      <th>Departmentlicense</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departmentlessons.each do |departmentlesson| %>
      <tr>
        <td><%= departmentlesson.hour_amount %></td>
        <td><%= departmentlesson.lesson.name %></td>
        <td><%= departmentlesson.departmentlicense.department.name+ " "+departmentlesson.departmentlicense.license.name %></td>
        <td><%= link_to 'Show', departmentlesson %></td>
        <td><%= link_to 'Edit', edit_departmentlesson_path(departmentlesson) %></td>
        <td><%= link_to 'Destroy', departmentlesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departmentlesson', new_departmentlesson_path %>
