<p id="notice"><%= notice %></p>

<h1>Listing Academic terms</h1>

<table class="table sortable">
  <thead>
    <tr>
      <th>Term</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academicterms.each do |academicterm| %>
      <tr>
        <td>
          <%=academicterm.term%>

        </td>
        <td><%= academicterm.year %></td>
        <td><%= link_to 'Show', academicterm,class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_academicterm_path(academicterm) ,class:"btn btn-warning"%></td>
        <td><%= link_to 'Destroy', academicterm, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academicterm', new_academicterm_path ,class:"btn btn-primary"%>
