<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%=@academicterm.term%>
  <% if(@academicterm.term==0) %>
    Güz
  <%elsif(@academicterm.term==1)%>
    Bahar
  <%elsif(@academicterm.term==2)%>
    Yaz
  <%end%>
</p>

<p>
  <strong>Year:</strong>
  <%= @academicterm.year %>
</p>

<%= link_to 'Edit', edit_academicterm_path(@academicterm) %> |
<%= link_to 'Back', academicterms_path %>
