<p id="notice"><%= notice %></p>

<h1>Listing Universities</h1>



    <table class="table table-striped">
      <tr>University Name</tr>
      <tr></tr>
      <% @universities.each do |university| %>
      <tr>
        <td><%= university.name %></td>
        <td>
          <%= link_to 'Show', university %>
          <%= link_to 'Edit', edit_university_path(university) %>
          <%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
          <% end %>
    </table>




<br>

<%= link_to 'New University', new_university_path %>
