<!DOCTYPE html>
<html>
<head>
  <title>Proje</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="sortable.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li>
            <a href="#">Logged in as <%= current_admin.email %></a>
          </li>
          <li><%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> </li>
          <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
        </li>
        <li>
          <%= link_to "Sign up", new_admin_registration_path, :class => 'navbar-link'  %>
        </li>
        <li>
          <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if admin_signed_in? %>
  <div id="wrapper">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="#">
                          WSG
                      </a>
                  </li>
                  <li>
                      <%= link_to 'Weekly Schedule', weeklyschedules_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'University', universities_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'Instructor', instructors_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'Lesson', lessons_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'License', licenses_path, class: "" %>
                  </li>
                  <li>
                      <%= link_to 'Academic Terms', academicterms_path, class: "" %>
                  </li>
              </ul>
          </div>
<%end%>
          <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12">
                          <% if notice %>
                            <p class="alert alert-success"><%= notice %></p>
                          <% end %>
                          <% if alert %>
                            <p class="alert alert-danger"><%= alert %></p>
                          <% end %>
                          <%= yield %>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->

      </div>


</body>
</html>
